body {
background-color: rgb(8, 5, 33);
/* Use a system font, if none are available use an available sans-sarif   font */
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
margin: 0;
height: 100vh;
display: flex;
flex-direction: column; 
background-image: url(https://imgur.com/gallery/YsS3k8w);
background-repeat: no-repeat;
}

h1 {
color: rgba(174, 36, 116, 0.922);
text-align: center;
font-size: 3rem;
font-style: oblique;
font-family: Ubuntu;
font-weight: bold;
padding: 0%;
margin: 5% 0% 0%;
}

h2 {
color: rgba(174, 36, 116, 0.922);
text-decoration-line: overline;
text-align: center;
font-family: Ubuntu;
font-weight: bolder;
padding: 0%;
margin: 0.5% 3%;
display: block;
}


div.reset {
align-items: center;
text-align: center;
margin-top: 2%;
display: block;
}

button {
  border-radius: 10%;
  background-color: rgb(27, 136, 11);
  color: rgb(8, 5, 33);
  border:none;
  border-radius:10px;
  box-shadow: 0px 0px 2px 2px rgb(27, 136, 11));
  font-style: bolder;
  font-family: Ubuntu;
  min-height: 20px; 
  min-width: 100px;
  font-size: 1.5rem
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

div.gs {
  border: 3px solid rgba(17, 228, 70, 0.806);
  margin: 3px;
  background-color: rgba(174, 36, 116, 0.922);
  font-size: 8vmin;
  font-family: Segoe UI;
  align-items: center;
  text-align: center;
  box-shadow: 3px 3px rgb(27, 136, 11);
  border-radius: 10%;
}

.gs:hover {
  box-shadow: inset 110px 0 0 0 rgba(215, 64, 152, 0.561);
  color: rgba(77, 4, 46, 0.922);
}